    <html>

    <head>
        <title>
            <%=title%>
        </title>
    </head>

    <body>
        <ul>
            <% for(let i=0 ; i < employees.length; i++){ %>
            <li> Employee Name: <%= employees[i].employeeName %></li>
            <%}%>
        </ul>
    </body>

    </html>